<!DOCTYPE html>
<html lang="en">
<body style="padding-top: 70px;">
	<div class="container-fluid">
        {{message}}
    </div>
    <div class="copyright py-4 text-center">
      <div class="container">
        <small>Copyright &copy; Andrew James McCourt 2017</small>
      </div>
    </div>
</body>
</html>